* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .backImg {
  background-image: url("./asset/mainbackgr.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: -1;
} */
