/* background image css */
.loginBackImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: blur(8px);

  /* position: relative; */
}

.loginForm {
  height: 50px;
  width: 50px;
  background-color: blue;
}
